@{
    ViewBag.Title = "Управление опросами";
}
<div class="container d-flex justify-content-between w-100">
    <nav id="left_navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Ваши опросы</a>
        <nav class="nav nav-pills flex-column">
            @{
                foreach (var poll in ViewBag.Polls)
                {
                    <a class="nav-link" href="#@Html.Raw(poll.Id)">@Html.Raw(poll.Title)</a>
                }
            }
        </nav>
        <button type="button" class="btn btn-light" onclick="location.replace('/ControlPanel/NewPollForm')">Новый опроc <img src="~/Content/images/check-8x.png" width="15px" /></button>
    </nav>
    <div id="right_data" data-spy="scroll" data-target="left_navbar" data-offset="0">
        @{
            foreach (var poll in ViewBag.Polls)
            {
                <div id="@Html.Raw(poll.Id)" class="card m-2">
                    <div class="card-header">
                        @Html.Raw(poll.Title)
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            <form>
                                <button type="button" class="btn btn-danger">Закрыть опрос</button>
                                <div class="form-check form-check-inline ml-5">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Приватный опрос</label>
                                </div>
                                <button type="button" class="btn btn-danger float-right">Удалить опрос</button>
                            </form>
                        </div>
                        @foreach (var question in poll.Questions)
                        {
                        <p class="card-text">
                            @Html.Raw(question.Title)
                        </p>
                        }
                        <a href="/Voting/@Html.Raw(poll.Id)" class="btn btn-primary">Голосовать</a>
                    </div>
                </div>
            }
        }
    </div>
</div>