@model ScaleVoting.Models.FormPoll
@Html.AntiForgeryToken()
@Html.ValidationSummary(false)
@{
    ViewBag.Title = "Создать новый опрос";
}
<script language="javascript">
    var questions = new Array();
    var questionId = 0;

    function addQuestion() {
        $('#questions')
            .append('<li class="list-group-item"><input type="text" name="' +
                questionId +
                '" />' +
                '<button type="button" class="btn btn-primary" onclick="addOption(' +
                questionId +
                ');">Добавить</button><br/>' +
                $('input[name=questionTitle]').val() +
                '<div id="' +
                questionId +
                '"></div></li>');
        questions[questionId] = new Object();
        questions[questionId].title = $('input[name=questionTitle]').val();
        questions[questionId].options = new Array();
        questionId++;
    }

    function addOption(optionId) {
        $('#' + optionId)
            .append('<li class="list-group-item">' + $('input[name=' + optionId + ']').val() + '</li>');
        questions[optionId].options.push($('input[name=' + optionId + ']').val());
    }

    function captcha() {
        var jsonQuestions = JSON.stringify(questions);
        $('#JsonQuestions').val(jsonQuestions);
        $('#captcha').append('<button type="submit" class="btn btn-primary">Подтвердить отправку</button>');
    }
</script>

<div class="jumbotron w-75">
    @using (Html.BeginForm())
        {
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Заголовок опроса</span>
            </div>
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        </div>
        <div class="mt-5">
            <h4>Вопросы</h4>
            <div class="input-group mb-3">
                <input type="text" name="questionTitle" class="form-control" placeholder="Текст вопроса" aria-label="" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="addQuestion();">Добавить</button>
                </div>
            </div>
            <ul id="questions" class="list-group">
            </ul>
        </div>
        @Html.HiddenFor(model => model.JsonQuestions)
        <button type="button" onclick="captcha();" class="btn btn-primary">Отправить</button>
        <div id="captcha">
        </div>
    }
    </div>