@model ScaleVoting.Models.FormPoll
@{
    ViewBag.Title = "Создать новый опрос";
}
    <script language="javascript">
        var questions = new Object();
        var questionId = 0;

        function addQuestion() {
            $('#questions')
                .append('<li class="list-group-item"><input type="text" name="' + questionId + '" />' + 
                        '<button onclick="addOption(' + questionId + ');" class="btn btn-primary">Добавить</button><br/>' + 
                        $('input[name=questionTitle]').val() + '<div id="' + questionId + '"></div></li>');
            questions[questionId] = new Object();
            questions[questionId].title = $('input[name=questionTitle]').val();
            questions[questionId].options = new Array();
            questionId++;
        }

        function addOption(optionId) {
            $('#' + optionId)
                .append('<li class="list-group-item">' + $('input[name=' + optionId + ']').val() + '</li>');
            
            questions[optionId].options.push($('input[name=' + optionId + ']').val());
        }

        function submit() {
            var jsonPoll = JSON.stringify(questions);
            $.post("/ControlPanel",
                {
                },
                function(result) {
                    if(result)
                    {
                        location.replace('/ControlPanel');
                    }
                }
            );
        }
    </script>
        
    <div class="jumbotron w-75">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Заголовок опроса</span>
            </div>
            <input type="text" />
        </div>
        <div class="mt-5">
            <h4>Вопросы</h4>
            <div class="input-group mb-3">
                <input type="text" name="questionTitle" class="form-control" placeholder="Текст вопроса" aria-label="" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="addQuestion();">Добавить</button>
                </div>
            </div>
            <ul id="questions" class="list-group">
            </ul>
        </div>
        <button onclick="submit();" class="btn btn-primary">Отправить</button>
    </div>