@{
  ViewBag.Title = "Главная";
}

<div class="container d-flex justify-content-between w-100 mb-3">
  <div id="presentation_card" class="card">
    <img class="card-img-top" id="card_img" src="~/Content/images/presentation1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Анонимно</h5>
      <p class="card-text">
        При голосовании используется только уникальный токен, ваша персона остается неизвестной.
      </p>
    </div>
  </div>
  <div id="presentation_card" class="card">
    <img class="card-img-top" id="card_img" src="~/Content/images/presentation2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Безопасно</h5>
      <p class="card-text">
        При голосовании применяется технология блокчейн. Цепочку голосов невозможно подделать.
      </p>
    </div>
  </div>
  <div id="presentation_card" class="card">
    <img class="card-img-top" id="card_img" src="~/Content/images/presentation3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Просто</h5>
      <p class="card-text">
        Для создания опроса требуется минимум данных, интерфейс максимально простой и интуитивно понятный.
        Голосовать также просто и быстро.
      </p>
    </div>
  </div>
</div>

      <div id="central_block" class="container">
        <div class="container d-flex justify-content-between" align="center">
          <div class="d-inline-flex" style="padding-top: 5px;">
            <h3>Создайте свой первый опрос</h3>
          </div>
            <div class="d-inline-flex ml-2">
                <a href="/Account/Login" class="btn btn-outline-light btn-lg">Войти</a>
                <a href="/Account/Register" class="btn btn-outline-light btn-lg ml-2">Зарегистрироваться</a>
            </div>
        </div>
      </div>

      <div class="container w-100 p-2">
        <div class="ml-4">
        <h2>Последние опубликованные опросы</h2>
        </div>
        <div id="scrollable" class="container d-flex justify-content-between w-100">
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Голосовать</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Голосовать</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Голосовать</a>
              </div>
            </div>
          </div>
        </div>
      </div>    