<p>Use this area to provide additional information.</p>
@Html.AntiForgeryToken()
<form action="" method="POST">
    <input type="text" name="email"/>
    <input type="text" name="password"/>
    <input type="submit"/>
</form>