@{
    var poll = ViewBag.Poll;
    ViewBag.Title = string.Format("Опрос - {0}", Html.Raw(poll.Poll.Title));
}
<div id="@Html.Raw(poll.Poll.Id)" class="card m-2">
    <div class="card-header">
        @Html.Raw(poll.Poll.Title)
    </div>
    <p class="card-text">
        @Html.Raw(poll.Poll.Content)
        @if (poll.Options != null)
        {
            foreach (var option in poll.Options)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="option1" value="option1" checked>
                    <label class="form-check-label" for="option1">
                        @Html.Raw(option.PollOption)
                    </label>
                </div>
            }
        }
    </p>
    <a href="" onclick="alert('У тебя здесь нет власти !')" class="btn btn-primary">Голосовать</a>
</div>

