<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    
    <title>@ViewData["Title"] - Scale Voting</title>
  </head>
  <body>
    <div class="page">

      <div class="header">
        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Scale Voting</a>
        </nav>
      </div>

      <div class="content">
        @RenderBody()
      </div>
    
      <div class="footer">
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-secondary">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign up</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="/ControlPanel">Create an poll</a>
                     </li>
                  </ul>
          </nav>
          </div>
          </div>

    <!-- Optional JavaScript -->
  <environment names="Development">
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/site.js" ></script>
  </environment>

  @RenderSection("scripts", required: false)
  </body>
</html>